.activity{
    margin: 4rem 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    /* max-width: 90rem; */
}

.activity__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 15rem);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.card-activity{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 25px;
    transition: transform 0.2s;
}

.card-activity:hover{
    transform: scale(1.02);
}

.card-activity-1{
    grid-area: 1 / 1 / 3 / 2;
}
.card-activity-2{
    grid-area: 1 / 2 / 2 / 3;
}
.card-activity-3{
    grid-area: 2 / 2 / 3 / 3;
}
.card-activity-4{
    grid-area: 1 / 3 / 3 / 4;
}
.card-activity-5{
    grid-area: 1 / 4 / 2 / 5;
}
.card-activity-6{
    grid-area: 2 / 4 / 3 / 5;
}

.card-activity a{
    color: inherit;
    text-decoration: none;
}

.card-activity__header{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-activity__header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0 ;
}

.card-activity__body{
    padding: 1.0625rem
}

.card-activity__body h2{
    font-size: 1.0625rem;
}


/* ========== MEDIA_QUERIES ==========*/ 

@media all and (max-width: 992px){
    .activity__grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 15rem);
    }

    .card-activity-1{
        grid-area: 1 / 1 / 2 / 3;
    }
    .card-activity-2{
        grid-area: 1 / 3 / 2 / 5;
    }
    .card-activity-3{
        grid-area: 2 / 1 / 3 / 3;
    }
    .card-activity-4{
        grid-area: 2 / 3 / 3 / 5; 
    }
    .card-activity-5{
        grid-area: 3 / 1 / 4 / 3;
    }
    .card-activity-6{
        grid-area: 3 / 3 / 4 / 5; 
    }
}

@media all and (max-width: 640px){
    .activity__grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 15rem);
    }

     .card-activity-1{
        grid-area:  1 / 1 / 2 / 3;
    }
    .card-activity-2{
        grid-area: 2 / 1 / 3 / 3; 
    }
    .card-activity-3{
        grid-area: 3 / 1 / 4 / 3;
    }
    .card-activity-4{
        grid-area: 4 / 1 / 5 / 3;
    }
    .card-activity-5{
        grid-area: 5 / 1 / 6 / 3; 
    }
    .card-activity-6{
        grid-area: 6 / 1 / 7 / 3;
    } 
}