.hosting {
    display: flex;
    gap: 30px;
    margin: 64px 32px 64px 32px;
}

/* ========== HOSTING MAIN BOX ========== */

.hosting-main {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 32px;
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.hosting-main__grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hosting-main__bloc1,
.hosting-main__bloc2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.hosting-main button {
    position: relative;
    width: 130px;
    padding-bottom: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hosting-main button span {
    position: absolute;
    left: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.hosting-main button span:hover {
    color: #0065fc;
}

/* ========== HOSTING POPULAR BOX ========== */

.hosting-popular__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hosting-popular {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 32px;
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.hosting-popular__grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


/* ========== CARD ========== */

.card-hosting,
.card-popular {
    flex: 1;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transition: transform 0.2s;
}

.card-hosting:hover,
.card-popular:hover {
    transform: scale(1.04);
}

.card-hosting a,
.card-popular a {
    color: inherit;
    text-decoration: none;
}


/* ========== CARD_HEADER ========== */

.card-hosting__header img {
    height: 130px;
    width: 100%;
    padding: 5px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;   
}

.card-popular__header {
    display: flex;
    flex-direction: row;
}

.card-popular__img {
    max-width: 35%;
    min-width: 35%;
    height: 150px;
}

.card-popular__img img {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 25px 0 0 25px;
    object-fit: cover;
}


/* ========== CARD_BODY ==========*/

.card-hosting__body {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 2px 10px 15px 15px;
}

.card-popular__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 25px 15px 15px;
}

.card-popular__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-hosting__body h2,
.card-popular__body h2 {
    font-size: 1rem;
}

.card-hosting__body p,
.card-popular__body p {
    font-size: .875rem;
}

.fa-star {
    color: #F2F2F2;
}

.fa-star--is-active {
    color: #0065FC;
}

.fa-star--popular{
    color: #000000;
}

/* ========== MEDIA_QUERIES ==========*/

@media all and (max-width: 992px) {             /* TABLET */
    .hosting {
        flex-direction: column-reverse;
    }
}


@media all and (max-width: 768px) {             /* MOBILE */
    .hosting {
        flex-direction: column-reverse;
        margin: 0;
    }

    .hosting-main__bloc1,
    .hosting-main__bloc2 {
        flex-direction: column;
    }

    .hosting-main {
        background-color: transparent;
    }

    .hosting-popular{
        border-radius: 0;
    }
}