.search{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 2.5rem 2rem 2.5rem 2rem;
}

.search__title{
  display: flex;
  flex-direction: column;
  gap: .4375rem;
}

.search__form {
  display: flex;
}

.search__form-icon {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: .925rem;
  border-radius: 0.625rem 0px 0px 0.625rem;
  background: #f2f2f2;
}

.search__form-input {
  padding: 0.8rem;
  width: 16.25rem;
  border: solid 0.0625rem #f2f2f2;
}

input[type="search"]:focus {
  outline: none;
  border: solid 0.0625rem #0065fc;
  border-right: transparent;
}

input::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1rem;
  opacity: 1;
}

.search__form-btn {
  padding: 10px 20px;
  border-radius: 0px 0.625rem 0.625rem 0px;
  background-color: #0065fc;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.search__form-btn:hover{
  background-color: #0065fcdc;
}

.search__form-btn--phone{
  display: none;
}

.filter{
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

.filter__group-btn{
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1.875rem;
}

.filter__btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .9375rem;
  font-weight: 600;
  border-radius: 3.125rem;
  border: solid .125rem  #F2F2F2;
  background: none;
  cursor: pointer;
  padding-right: 1.25rem;
  transition: transform 0.5s, background-color 0.7s;

}

.filter__btn:hover{
  transform: translateY(5px);
  background-color: #DEEBFF;
  border-color: transparent;
}

.filter__btn-img{
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 3.125rem;
  background-color: #DEEBFF;
  margin-right: 1.25rem;
  color:#0065fc;
}

.filter__btn-img svg{
  fill:#0065fc;
}

.info{
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.fa-info{
  border: solid 2px #DEEBFF;
  border-radius: 100%;
  padding: 0.21rem 0.51rem;
  color: #0065fc;
}

/* ========== MEDIA_QUERIES ==========*/

@media all and (max-width: 990px){

  .filter{
    flex-direction: column;
    align-items: flex-start;
  }

  .filter__group-btn {
    flex-wrap: wrap;
  }

}

@media all and (max-width: 640px){
  .search__form-btn--phone{
    display: block;
    fill: #ffffff;
  }

  .search__form-btn--desktop{
    display: none;
  }
}



