.search__title{
  display: flex;
  flex-direction: column;
  gap: .4375rem;
}

.search__form {
  display: flex;
}

.search__form-img {
  height: 3rem;
  padding: 0.625rem;
  border-radius: 0.625rem 0px 0px 0.625rem;
  background: #f2f2f2;
}

.search__form-input {
  width: 16.25rem;
  border: solid 0.0625rem #f2f2f2;
}

input[type="search"]:focus {
  outline: none;
  border: solid 0.0625rem #0065fc;
  border-right: transparent;
}

.search__form-btn {
  padding: 10px 20px;
  border-radius: 0px 0.625rem 0.625rem 0px;
  background-color: #0065fc;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.filter{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5625rem;
}

.filter__btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .9375rem;
  font-weight: 600;
  border-radius: 3.125rem;
  border: solid .125rem  #F2F2F2;
  background: none;
  cursor: pointer;
  padding-right: 1.25rem;
  transition: transform 0.5s, background-color 0.7s;

}

.filter__btn:hover{
  transform: translateY(5px);
  background-color: #DEEBFF;
  border-color: #DEEBFF;
}

.filter__btn-img{
  border-radius: 3.125rem;
  background-color: #DEEBFF;
  padding: 10px;
  margin-right: 1.25rem;
}

.filter__btn-img svg{
  fill:#0065fc;
}