.search__form {
  display: flex;
}

.search__form-img {
  height: 1.875rem;
  padding: 5px;
  background: #f2f2f2;
}

.search__form-btn {
  padding: 10px 20px;
  border-radius: 0px 0.625rem 0.625rem 0px;
  background-color: #0065fc;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
