*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

main {
  max-width: 1440px;


  /* margin: 2.5rem auto; */
  margin: auto;
}

/* @media all and (max-width: 1250px) */
/* @media all and (max-width: 1160px) */
/* @media all and (max-width: 990px) */
/* @media all and (max-width: 640px) */